<nav class="navbar navbar-default navbar-fixed-top tri">
    <div class="container-fluid tri">
        <div id="demo" class="navbar-header">
            <img src="images/wowLogo.png" width="32" height="32" alt="OWW" >
        </div>
        <ul class="nav navbar-nav tri">
            <li class="tri" ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li class="tri" ui-sref-active="active"><a class="dropdown-toggle tri" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Person</a>
                <ul class="dropdown-menu tri colorSedam">
                    <li class="tri"><a ui-sref="person({person_id : '{{ person.person_id }}'})">Global</a></li>
                    <li class="tri" role="separator" class="divider"></li>
                    <li class="tri"><a ui-sref="pcontinent({person_id : '{{ person.person_id }}'})">By Continent</a></li>
                </ul>
            </li>
            <li class="tri" ui-sref-active="active"><a class="dropdown-toggle tri" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
                <ul class="dropdown-menu tri">
                    <li class="tri"><a href="event?event_id={{ event.event_id }}">Global</a></li>
                    <li class="tri" role="separator" class="divider"></li>
                    <li class="tri"><a ui-sref="econtinent({event_id : '{{ event.event_id }}'})">By Continent</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>