<header id="top-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>World's Word!</h1>
                        <p>See how the world feels about this week's event and person. </p>
                        <p>With Just one word comment on personalities and events of the day, week or month, share it and find out what millions of people around the globe think about it.</p>
                        <p>Traveling " ONE WORLD'S Word" You do not need money, card or any personal document - it's completely free and anonymous</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2 class="section-heading">Feel free to use this information in anyway you can find it useful!</h2>
                        <p>Information collected this way can be useful to media, psychologists, sociologists, politicians and their advisors, large corporations, governments, analysts, statisticians, professionals from various fields, but also you, the ordinary people - the inhabitants of the planet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
