<header>
    <div class="row text-center">
        <h1>World's Word Archive</h1>
        <h3 >Select the week you want to view!</h3>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" ng-controller="ArchiveController as up" name="up.upload_form">
                <div class="panel panel-default">
                    <div class="panel-body form-group-separated">
                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <select class="form-control" id="sel1" ng-model="up.sel1">
                                <option>Person</option>
                                <option>Event</option>
                            </select>
                        </div>

                        <div class="form-group input-group date">
                            <label for="week">Pick any day of the week to review: </label>
                            <input class="form-control datepicker"  ng-model="up.week" name="week" id="week" type="text"
                                   placeholder="YYYY-W##" min="2017W6"
                                   max="2017W52" required />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Clear Form</button>
                        <button class="btn btn-primary pull-right" ng-click="up.submitDate()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script type="text/javascript" src="custom/js/plugins.js"></script>