
    <div class="col-xs-6">
        Event week

        <form id="formEvent" action="">
          <input id="e" autocomplete="off" /><button class="btn btn-primary" >Send</button>
        </form>
        <ul id="events"></ul>
    </div>
    <!-- Socket.io script -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      $('#formEvent').submit(null, function(){
        socket.emit('event', 'event', $('#e').val());
        $('#e').val('');
        return false;
      });
      socket.on('eventWord', function(evt){
        $('#events').append($('<li>').text(evt));
      });
    </script>
