<div class="container">
    <div class="thumbnail">
        <h3 class="text-center">Event of the week</h3>
    </div>
    <div class="thumbnail">
        <img src="images/wowMarine.png" alt="WOW" width="200" height="200"/>
    </div>
    <div class="thumbnail">
        <div class="thumbnail">
            <!-- <ul id="eventList"></ul> -->
            <label for="eventList">Most popular words for event</label>
            <table id="eventList">
            </table>
        </div>
    </div>
</div>