<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>World's word is a place where you should try and express yourself in ONE word only!</h1>
                        <a href="#person" class="btn btn-outline btn-xl page-scroll">Try it, it's fun!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2 class="section-heading">Discover what all the buzz is about!</h2>
                        <h4>Our app can be accessed from any web enabled device! </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section ng-controller="FbController">
    <section id="person" class="person bg-person text-center">
        <div class="container">
            <div class="col-md-4">
                <h4 class="section-heading">How do you feel about <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                <form id="formPerson" ng-submit="submitPword()">
                    <input type="hidden" ng-model="person_id" id="person_id" value="{{ person.person_id }}"/>
                    <input ng-model="p" id="p" class="form-control" autocomplete="off"
                           pattern="^([\Sa-zA-Z]){1,25}$"
                           oninvalid="setCustomValidity('Plz enter only English Alphabet\n No spaces, numbers, or funny characters allowed!')"
                           onchange="try{setCustomValidity('')}catch(e){}" required/>
                    <button class="form-control btn bg-person">
                        <strong>Send</strong>
                    </button>
                </form>
                <ul class="ul-test">
                    <li ng-repeat="pword in pwords track by $index">{{pword}}</li>
                </ul>
                <table class="table table-condensed">
                    <tr><td>Current leading feels</td></tr>
                    <tr ng-repeat="t in personList">
                        <td>{{ t.a }}</td>
                        <td>{{ t.c }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8" id="sharePersonDiv">
                <meta property="fb:app_id"          content="415516472142865" />
                <meta property="og:url"             content="http://www.worldsword.com/main#sharePersonDiv" />
                <meta property="og:type"            content="website" />
                <meta property="og:title"           content="Person of the week" />
                <meta property="og:description"     content="{{person.title}}" />
                <meta property="og:image"           content="http://www.worldsword.com/{{person.image}}" />
                <meta property="og:image:type"      content="image/png" />
                <h2>{{ person.title }}</h2>
                <div class="badges style" style="background-image: url('{{ person.image }}')">
                    <div class="testiramo">
                        <strong>{{pi}}</strong>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-info btn-sm" data-ng-click="sharePerson(person)"><span class="glyphicon glyphicon-thumbs-up"></span> Share Person</button>
                </div>
            </div>
        </div>
    </section>

    <section id="event" class="event bg-event text-center">
        <div class="container">
            <div class="col-md-4">
                <h4 class="section-heading">How do you feel about <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                <form id="formEvent" ng-submit="submitEword()">
                    <input type="hidden" ng-model="event_id" id="event_id" value="{{ event.event_id }}"/>
                    <input ng-model="e" id="e" class="form-control" autocomplete="off"
                           pattern="^([\Sa-zA-Z]){1,25}$"
                           oninvalid="setCustomValidity('Plz enter only English Alphabet\n No spaces, numbers, or funny characters allowed!')"
                           onchange="try{setCustomValidity('')}catch(e){}"required />
                    <button class="form-control btn bg-event">
                        <strong>Send</strong>
                    </button>
                </form>
                <ul class="ul-test">
                    <li ng-repeat="eword in ewords track by $index">{{eword}}</li>
                </ul>
                <table class="table table-condensed" >
                    <tr ng-repeat="t in eventList">
                        <td>{{ t.a }}</td>
                        <td>{{ t.c }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8" id="shareEventDiv">
                <h2>{{ event.title }}</h2>
                <div class="badges style" style="background-image: url('{{ event.image }}')">
                    <div class="testiramo">
                        <strong>{{ei}}</strong>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-info btn-sm" data-ng-click="shareEvent(event)"><span class="glyphicon glyphicon-thumbs-up"></span> Share Event</button>
                </div>
            </div>
        </div>
    </section>

</section>
<!--<div ng-controller="FbController">-->

    <button type="button" data-ng-disabled="status" data-ng-click="getAuth()">Get Auth</button>
    <!--<button type="button" data-ng-disabled="!status" data-ng-click="disconnect()">Disconnect</button>-->
    <!--<button type="button" data-ng-disabled="!status" data-ng-click="logout()">Logout</button>-->
    <!--<button type="button" data-ng-click="sharePerson()">Share Person</button>-->
    <!--<button type="button" data-ng-click="shareEvent()">Share Event</button>-->
    <!--<button type="button" data-ng-click="shareWorld()">Share World</button>-->

    <div data-ng-show="status">
        <pre data-ng-bind="token"></pre>
        <pre data-ng-bind="me | json"></pre>
    </div>
<!--</div>-->

