<div ng-controller="OwwController">
    <div class="container-fluid">
    <!-- theme divs (person & event) -->
        <div class="row text-center">
            <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
                <div class="thumbnail">
                    <a ui-sref="person"><h3>Person of the week</h3></a>
                </div>
                <div class="thumbnail">
                    <a ui-sref="person"><img src="images/wowMarine.png" alt="WOW" width="200" height="200"/></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
                <div class="thumbnail">
                    <a ui-sref="event"><h3>Event of the week</h3></a>
                </div>
                <div class="thumbnail">
                    <a ui-sref="event"><img src="images/wowMarine.png" alt="WOW" width="200" height="200"/></a>
                </div>
            </div>
        </div>

    <!-- oneWordInput part -->
        <div class="row center">
            <div class="col-sm-6 col-md-6 col-lg-6 thumbnail">
                <div class="thumbnail">
                    <form id="formPerson" action="" ng-submit="submitPword()">
                        <input type="hidden" id="person_id" value="9999"/>
                        <input ng-model="p" id="p" class="form-control" autocomplete="off"
                               pattern="^([\Sa-zA-Z]){1,25}$"
                               oninvalid="setCustomValidity('Plz enter only English Alphabet\n No spaces, numbers, or funny characters allowed!')"
                               onchange="try{setCustomValidity('')}catch(e){}" required/>
                        <button class="form-control btn pull-right" style="background-color:yellow">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
                <div class="thumbnail" style="overflow:hidden; height: 150px">
                    <!--<ul id="persons"></ul>-->
                    <ul>
                        <li ng-repeat="pword in pwords track by $index">{{pword}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 thumbnail">
                <div class="center thumbnail">
                    <form id="formEvent" action="" ng-submit="submitEword()">
                        <input type="hidden" id="event_id" value="9999"/>
                        <input ng-model="e" id="e" class="form-control" autocomplete="off"
                               pattern="^([\Sa-zA-Z]){1,25}$"
                               oninvalid="setCustomValidity('Plz enter only English Alphabet\n No spaces, numbers, or funny characters allowed!')"
                               onchange="try{setCustomValidity('')}catch(e){}"required />
                        <button class="form-control btn pull-right" style="background-color:yellow; color:navyblue">
                            <strong>Send</strong>
                        </button>
                    </form>
                </div>
                <div class="content thumbnail" style="overflow:hidden; height: 150px">
                    <!--<ul id="events"></ul>-->
                    <ul>
                        <li ng-repeat="eword in ewords track by $index">{{eword}}</li>
                    </ul>
                </div>
            </div>
        </div>

    <!-- results part -->
        <div class="row thumbnail">
            <div class="col-sm-6 col-md-6 col-lg-6 thumbnail">
                <a ui-sref="person">
                    <div class="thumbnail">
                        <!-- <ul id="eventList"></ul> -->
                        <label >Most popular words for person</label>
                        <table >
                            <tr ng-repeat="t in personList">
                                <td>{{ t.a }}</td>
                                <td>{{ t.c }}</td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 thumbnail">
                <a ui-sref="event">
                    <div class="thumbnail">
                        <!-- <ul id="eventList"></ul> -->
                        <label >Most popular words for event</label>

                        <table >
                            <tr ng-repeat="t in eventList">
                                <td>{{ t.a }}</td>
                                <td>{{ t.c }}</td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
        </div>

        <div class="row thumbnail">
            <label for="number">Number of users online</label>
            <label>{{users}}</label>
        </div>
    </div>

</div>