<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One Word World</title>
    <!-- Bootstrap import -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  </head>
  <body ng-app="oneWordWorld">
    <div class="container">
      <img src="images/wow.png" alt="" class="center-block" alt="WOW" width="236" height="236"/>
<div ui-view></div>
    </div>


<!-- Libs -->
<!-- jQuery library -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap Library -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AngularJS Libraries -->
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>

<!-- Main OneWordWorld Module -->
<script src="application/oneword.module.js"></script>
<!-- <script src="application/oneword.routes.js"></script> -->
<script src="application/controllers/oneword.controller.js"></script>



  </body>
</html>
