<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One Word World</title>
    <!-- Bootstrap import -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  </head>
  <body ng-app="oneWordWorld">
    <div ui-view></div> <!-- contacts.html plugs in here -->

  <!-- <div class="container" ng-controller="OwwController as owwCtrl">
    <h1>This is One Word World: Welcome!</h1>

    <div class="row">
        <div class="col-xs-6">
            Person week

            <form action="">
              <input id="m" autocomplete="off" /><button class="btn btn-primary" >Send</button>
            </form>
            <ul id="messages"></ul>
        </div>
        <ui-view="event"></ui-view>
    </div>

</div> -->
<!-- Libs -->
<!-- jQuery library -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap Library -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AngularJS Libraries -->
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>

<!-- Main OneWordWorld Module -->
<script src="application/oneword.module.js"></script>
<!-- <script src="application/oneword.routes.js"></script> -->
<script src="application/controllers/oneword.controller.js"></script>



  </body>
</html>
