<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">
                <img src="images/wowMarine.png" width="32" height="32" alt="OWW" >
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Person</a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="person">Global</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ui-sref="pcontinent">By Continent</a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="event">Global</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ui-sref="econtinent">By Continent</a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>