<div class="container">
    <div class="thumbnail">
        <h3 class="text-center">Person of the week</h3>
    </div>
    <div class="thumbnail">
        <img src="images/wowMarine.png" alt="WOW" width="200" height="200"/>
    </div>
    <div class="thumbnail">
        <label>Most popular words for person</label>
        <nvd3 options="options" data="data"></nvd3>

        <table >
            <tr ng-repeat="t in personList">
                <td>{{ t.a }}</td>
                <td>{{ t.c }}</td>
            </tr>
        </table>

    </div>
</div>