<div class="container">
    <div class="thumbnail">
        <h3 class="text-center">Person of the week</h3>
    </div>
    <div class="thumbnail">
        <img src="images/wowMarine.png" alt="WOW" width="200" height="200"/>
    </div>
    <div class="paper">
        <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
            <label>Most popular words for person</label>

            <table >
                <tr ng-repeat="t in personList">
                    <td>{{ t.a }}</td>
                    <td>{{ t.c }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
            <nvd3 class="paper" options="options" data="data"></nvd3>
        </div>
    </div>
</div>