<header id="top-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                        <h1>Terms and conditions!</h1>
                        <h3>Important information: </h3>
                        <p>We collect public IP address of every visitor.</p>
                        <p>If you express yourself, we note that too. Apart from this, we do not collect in any way, any information that can by considered personal.</p>
                        <p> Cookies stored on your computer are there to increase your expirience only.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
