<div class="row text-center">
  <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
    <div class="thumbnail">
      <img src="images/wowMarine.png" alt="WOW" width="200" height="200"/>
    </div>
    <div class="thumbnail">
      <span>Person of the week</span>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 center thumbnail">
  <div class="thumbnail">
    <span>Event of the week</span>
  </div>
    <div class="thumbnail">
      <img src="images/wowMarine.png" alt="WOW" width="200" height="200"/>
    </div>
  </div>
</div>
