.frame {
    height: 550px;
    border: 1px solid #e05915;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slika img {
    vertical-align: middle;
    max-height: 95%;
}





div
.test {
    height: 550px;
    height: 550px;
    max-height: 550px;
}
.one {
    width: 100%;
    height: 52px;
    background-color: transparent;
}
.right {
    min-height: 550px;
}
.left {
    min-height: 550px;
}
.stranice{
    height: 100%;
    background-color:#431c5d;
    overflow:hidden;
}
.jedan{
    background-color:#bccbde;
}
.dva{
    background-color:#c2dde6;
}
.tri{
    background-color:#e6e9f0;
}
.cetiri{
    background-color:#431c5d;
}
.pet{
    background-color:#e05915;
}
.sest{
    background-color:#cdd422;
}

nav, ul, li, body#customized{
    background-color: #bccbde;
}
/*.paper {*/
    /*background-color: #d5d5d5;*/
/*}*/
/*.overcast {*/
    /*background-color: #9099A2;*/
/*}*/
/*.lavendar{*/
    /*background-color: #6d7993;*/
/*}*/
/*.dusty {*/
    /*background-color: #96858F;*/
/*}*/
.jedan{
    background-color:#bccbde;
}
.dva{
    background-color:#c2dde6;
}
.tri{
    background-color:#e6e9f0;
}
.cetiri{
    background-color:#431c5d;
}
.pet{
    background-color:#e05915;
}
.sest{
    background-color:#cdd422;
}


.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}


/*colors*/
/*.jedan{*/
    /*background-color:#bccbde;*/
/*}*/
/*.dva{*/
    /*background-color:#c2dde6;*/
/*}*/
/*.tri{*/
    /*background-color:#e6e9f0;*/
/*}*/
/*.cetiri{*/
    /*background-color:#431c5d;*/
/*}*/
/*.pet{*/
    /*background-color:#e05915;*/
/*}*/
/*.sest{*/
    /*background-color:#cdd422;*/
/*}*/


#komplet {
    width: 100%;
    height: 52px;
    background-color:#c2dde6;
}
#slika {
    width: auto;
    height: 552px;
    background-color:#c2dde6;
}

/*#komplet div {*/
    /*position: relative;*/
    /*top: 50px;*/
    /*float: left;*/
    /*border: 1px solid blue;*/
    /*background-color:#e6e9f0;*/
/*}*/
/*#komplet div:first-child {*/
    /*width: 15%;*/
    /*height: 50%;*/
    /*background-color:#431c5d;*/
/*}*/
/*#komplet div:nth-child(2) {*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*background-color:#cdd422;*/
/*}*/
/*#komplet div:last-child {*/
    /*width: 15%;*/
    /*height: 55%;*/
    /*background-color:#431c5d;*/
/*}*/
