<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="joli/css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
</head>
<body>

<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>


            <div class="login-title"><strong>Welcome</strong>, Please login</div>
            <form action="/login" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" name="username" class="form-control" placeholder="Username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" name="password" class="form-control" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link btn-block disabled">Forgot your password?</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info btn-block">Log In</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-right">
                &copy; 2017 World's Word
            </div>
        </div>
    </div>

</div>

</body>
</html>








<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
	<!--<title>Node Authentication</title>-->
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> &lt;!&ndash; load fontawesome &ndash;&gt;-->
	<!--<style>-->
		<!--body 		{ padding-top:80px; }-->
	<!--</style>-->
<!--</head>-->
<!--<body>-->
    <!--<div class="container">-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->
            <!--<h1><span class="fa fa-sign-in"></span> Login</h1>-->

            <!--&lt;!&ndash; show any messages that come back with authentication &ndash;&gt;-->
            <!--<% if (message.length > 0) { %>-->
                <!--<div class="alert alert-danger"><%= message %></div>-->
            <!--<% } %>-->

            <!--&lt;!&ndash; LOGIN FORM &ndash;&gt;-->
            <!--<form action="/login" method="post">-->
                <!--<div class="form-group">-->
                    <!--<label>Username</label>-->
                    <!--<input type="text" class="form-control" name="username">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Password</label>-->
                    <!--<input type="password" class="form-control" name="password">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Remember Me</label>-->
                    <!--<input type="checkbox" class="form-control" name="remember" value="yes">-->
                <!--</div>-->

                <!--<button type="submit" class="btn btn-warning btn-lg">Login</button>-->
            <!--</form>-->

            <!--<hr>-->

            <!--<p>Need an account? <a href="/signup">Signup</a></p>-->
            <!--<p>Or go <a href="/">home</a>.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->
